@import '/src/app/stylesheets/variables.sass';

$dot-size: 10px;
$dot-bg-l: $color-b-p;
$dot-bg-d: $color-w;
$dot-transform: rotate(90deg);
$sphere-animation-duration: 15s;
$dot-animation-duration: 1s;

@keyframes rotate3d {
  0% {
    transform: rotate3d(1, 1, 1, 0deg);
  }
  25% {
    transform: rotate3d(1, 1, 1, 90deg);
  }
  50% {
    transform: rotate3d(1, 1, 1, 180deg);
  }
  75% {
    transform: rotate3d(1, 1, 1, 270deg);
  }
  100% {
    transform: rotate3d(1, 1, 1, 360deg);
  }
}

@keyframes pulsate {
  0% {
    transform: rotateX(90deg) scale(0.7) translateZ(10px);
    opacity: 0.7;
  }
  100% {
    transform: rotateX(0deg) scale(1) translateZ(0);
    opacity: 1;
  }
}

@keyframes izquierda {
  0%,
  100% {
    transform: rotateZ(90deg);
  }
  50% {
    transform: rotateY(90deg);
  }
}

.main-wrapper {
  display: flex;
  position: relative;
  transform-style: preserve-3d;
  top: 0;
  bottom: 0;
  right: 0;
  align-items: center;
  justify-content: center;

  &.visible {
    .sphere-wrapper {
      animation: rotate3d $sphere-animation-duration linear infinite;
    }
  }

  .sphere-wrapper {
    transform-style: preserve-3d;
    width: var(--width);
    height: var(--height);
    position: relative;
    /* animation: rotate3d $sphere-animation-duration linear infinite; */ /* Comentado para activar la animación cuando sea visible */

    .plane {
      position: absolute;
      transform-style: preserve-3d;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;

      @for $i from 0 through 36 {
        .spoke-#{$i} {
          .dot {
            animation: pulsate
              $dot-animation-duration
              alternate
              both
              infinite
              steps(100);
            animation-delay: ($i * 0.1s * 2) + 0.1s;
          }
        }
      }

      .spoke {
        transform-origin: 0 0;
        transform-style: preserve-3d;
        position: absolute;
        left: 50%;
        top: 50%;
        height: var(--height);
      }

      @for $i from 1 through 36 {
        .spoke-#{$i} {
          transform: rotate($i * 10deg);
        }
      }
    }

    .plane-9 {
      animation: izquierda 15s infinite;
    }
  }
}

.dot {
  position: absolute;
  width: $dot-size;
  height: $dot-size;
  border-radius: 50%;
  left: -3px;
  top: 100%;
  transform: $dot-transform;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  will-change: transform;

  &.l {
    background: $dot-bg-d;

    &::before {
      content: '';
      position: absolute;
      width: 40px;
      height: 1px;
      border-radius: 50%;
      background: $dot-bg-d;
      top: 3px;
    }
  }

  &.d {
    background: $dot-bg-l;

    &::before {
      content: '';
      position: absolute;
      width: 40px;
      height: 1px;
      border-radius: 50%;
      background: $dot-bg-l;
      top: 3px;
    }
  }
}

.plane {
  @for $i from 1 through 12 {
    &-#{$i} {
      transform: rotateY($i * 30deg) rotateX(90deg);
    }
  }
}
