@import '../../stylesheets/variables'

.switch
    height: 1.87rem
    width: 4.68rem
    border-radius: 0.625rem
    background-color: $w
    cursor: pointer
    display: flex
    align-items: center
    position: relative
    .l
        position: absolute
        right: 2px
        color: $w
    .d
        display: none
    .switch__slider
        height: 1.5rem
        width: 1.5rem
        border-radius: 50%
        background-color: $d
        position: relative
        top: 0
        left: 0.625rem
        transition: 0.4s ease all

.checked
    background-color: $d
    .switch__slider
        left: 2.5rem
        background-color: $w
    .l
        display: none
    .d
        display: block
        position: absolute
        left: 2px
        color: black
