@import '../../stylesheets/variables'

.switch
    height: 20px
    width: 50px
    border-radius: 10px
    background-color: black
    cursor: pointer
    display: flex
    align-items: center
    position: relative
    .l
        position: absolute
        right: 2px
        color: white
    .d
        display: none
    .switch__slider
        height: 18px
        width: 18px
        border-radius: 50%
        background-color: white
        position: relative
        top: 0
        left: 2px
        transition: 0.4s ease all

.checked
    background-color: white
    .switch__slider
        left: 30px
        background-color: black
    .l
        display: none
    .d
        display: block
        position: absolute
        left: 2px
        color: black
