@import '../../stylesheets/variables'

p
    width: var(--width)
    height: var(--height)
    transition: 0.4s ease all
    min-height: 30px
    a
        color: $color-b
        text-decoration: none
    &.text-p
        color: $color-w
        a
            color: $color-w
            text-decoration: none
