.container
    height: var(--height)
    width: var(--width)
    padding: var(--padding)
    &.l
        background-color: white
        transition: 0.4s ease all
    &.d
        background-color: black
        transition: 0.4s ease all
