@import '../../stylesheets/variables'
.btn
    border: none
    width: var(--width)
    height: var(--height)
    padding: var(--padding)
    cursor: pointer
    transition: 0.2s
    border-radius: $br-2
    font-weight: 600
    &:active
        transform: scale(0.95)
        transition: 0.2s
.p
    background: $color-p
    color: $color-b-p

.d
    background: $color-d
    color: $color-w
