@import '../../stylesheets/variables'

.btn
    border: none
    width: var(--width)
    height: var(--height)
    padding: var(--padding)
    cursor: pointer
    transition: 0.2s
    border-radius: $br-2
    font-weight: 600
    display: flex
    justify-content: center
    align-items: center
    &:active
        transform: scale(0.95)
        transition: 0.2s
    .btn__text--d
        height: 20%
        width: 80%
        background: $color-w
        border-radius: $br-1
    .btn__text--p
        height: 20%
        width: 80%
        background: $color-b
        border-radius: $br-1
.p
    background: $color-p
    color: $color-b-p

.d
    background: $color-d
    color: $color-w
