@import '../../stylesheets/variables.sass';
.card {
  width: 18.75rem;
  height: auto;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  transition: transform 0.3s;
  position: relative;
  display: flex;
  flex-direction: column;
  animation-duration: 0.5s;
  overflow: hidden;

  &:hover {
    transform: scale(1.05);
  }

  .buttonContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 0.5rem;
  }

  .icon {
    width: 1.25rem;
    height: 1.25rem;
  }

  .gifContainer {
    position: relative;
    width: 100%;
    height: auto;
  }

  .gifContainer canvas,
  .gifContainer img {
    width: 100%;
    height: auto;
  }

  .gifContainer img {
    filter: grayscale(100%);
    transition: filter 0.3s;
  }

  .gifContainer img.colorGif {
    filter: grayscale(0%);
  }

  &.dark {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.633);
    background-color: $d-card;
  }

  &.light {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    background-color: $w;
  }
}

.card.bounceIn {
  animation-name: bounceIn;
}

.card.bounceOut {
  animation-name: bounceOut;
}

@keyframes bounceIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes bounceOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.dropdown {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  display: none;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  border-radius: 0.3rem;
}

.iconWrapper:hover .dropdown {
  display: flex;
  opacity: 1;
  transform: translateY(0px);
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
